
<%- include('/_header.ejs')%>

    <div class="contents">
        <div class="grid">
            <div>grid a</div>
            <div>grid b</div>
            <div>grid c</div>
            <div>grid d</div>
        </div>
    </div>

<%- include('/_footer.ejs')%>

